<p>
  <strong>Date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency @order.total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
