<div class="container">
	<%= form_for :picture, html: { class: "form-horizontal center", role: "form", multipart: true }, url: pictures_path do |f| %>
		<p>
		<div class="field form-group">
			<div class="col-sm-10">
				<%= f.label :image, class: 'control-label' %>
				<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
			</div>
		</div>
		</p>
		<div class="actions form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit nil, class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>
